#wrapper {
  border: 2px solid black;
  background-color: rgb(255,255,246);
}


.header1 {
  font-size: 40px; text-align: center;
}

.header2 {
  color: white;
  background-color: black;
  height: 70px;
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
}

.isi {
  position: absolute;
}

.isi p{
  font-size: 20px;
  margin-top: 25px;
  float: left;
}

.header2 .link{
  float: right;
  margin-top: 5px;
}

.link a{
  text-decoration: none;
  color: white;
  margin-right: 20px;
}

.content1 {
  margin-left: 5px;
}

#footer  {
  background-color: black;
  color: white;
  height: 70px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
  position: relative;
}

.footer1 {
  text-align: center;
}

.footer1 p{
  font-size: 15px;
}

.footer2 {
  font-size: 15px;
  text-align: center;
  margin-top: 37px;
}
